.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.5;
  }
  input {
    padding: 10px;
    outline: none;
    width: 100% !important;
    border-radius: 6px;
  }
}
.btn {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  &:hover {
    opacity: 0.5;
  }
}